<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CALCULADORA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

      <div class="card">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title>Calculadora</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Você saiu do Aplicativo Calculadora
          </ion-card-content>
        </ion-card>
      </div>


      <div class="buttons">
        <ion-button fill="outline" size="default"style="text-transform:none"(click)="OnClickLogin()">Home</ion-button>
      </div>  

  </div>
</ion-content>
  


